*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
  font-size: 18px;
  background-color: #F1F2F6;
}
/* Hide default HTML checkbox & Radio  */
.switch input, .services input, .info input[type = radio], .details input[type = radio]{
  opacity: 0;
  width: 0;
  height: 0;
}
.form{
  width: 1000px;
  margin: 10px auto;
}
.form .back-btn{
  position: relative;
  left: -70px;
  bottom: -26px;
}
.form .intro{
  font-size: 1.1rem;
  margin-bottom: 5px;
}
.form .instruction{
  font-size: 0.6rem;
}
/* haeder styling----------- */
header {
  width: 100%;
  background-color: #0746a7;
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
}
header h1{
  color: #D1E7FF;
  font-size: 1.4rem;
  font-weight: 500;
  width: 200px;
}
header h1 span{
  font-size: 0.8rem;
  text-transform: uppercase;
}
header .search-box {
  background-color: #396bb9;
  height: 20px;
  padding: 5px 12px;
}
.search {
  color: #d1e7ff;
}
header input[type='text'] {
  outline: none;
  background-color: inherit;
  color: #D1E7FF;
  border: none;
  width: 300px;
}
header input[type='text']::placeholder{
 color: #D1E7FF;
}
header .header-btn{
  display: flex;
  justify-content: flex-end;
  width: 400px;
}
header .btn{
  display: inline-block;
  padding: 5px 15px;
  border-radius: 3px;
}
header .btn:nth-child(1){
  background-color: inherit;
  color: #D1E7FF;
  border: 1px solid #D1E7FF;
  margin: 0 10px 0 0;
}
header .btn:nth-child(2){
  background-color: #5AC87F;
  color: #E9FFF6;
  border: 1px solid #5AC87F;
}

/* service section styling-------- */
.services, .info, .details, .additional{
  background-color: #ffffff;
  padding: 30px;
  margin-top: 15px;
}
.service-container-div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.services h4{
  margin: 0 0 20px 0;
}
.services .service-selection{
  position: relative;
  display: inline-block;
  width: 190px;
  height: 70px;
  margin: 0 10px 0 0;
  border: 1px solid #D1E7FF;
  overflow: hidden;
}
.services .radio{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0 0 8px;
  color: #81868C;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.services .icon{
  display: inline-block;
  position: absolute;
  right: -12px;
  bottom: -4px;
  font-size: 2.3rem;
  color: #81868C;
}
.services input:checked + .radio  {
  background-color: #0746A7;
  color: #FCFFFF;
}

.services input:focus + .radio {
  box-shadow: 0 0 1px #0746A7;
  color: #FCFFFF;
}
.services input:checked + .radio > .icon {
  color: #FCFFFF;
}
/* info section styling ------ */
.info .info-first-roll, .info .info-second-roll{
  display: flex;
  justify-content: space-between;
  margin: 10px 0 20px 0;
}
.info-icon{
  color: #A4A4A4;
}
.info .info-selection{
  position: relative;
  display: inline-block;
  background-color: #F1F2F6;
  padding: 12px 2px;
}
.import-export{
  background-color: #FCFFFF;
  padding: 10px;
  color: #686868;
}
.info .info-selection:nth-child(1){
  border-right: 1px solid #F1F2F6;
}

.info input[type=radio]:checked + .import-export{
  background-color: #09469F;
  color: #F1F2F6;
}
.info .destination{
  display: inline-block;
  background: #F1F2F6;
  width: 40%;
}
.info .destination input, .details .fieldset-div input, .info .info-second-roll input, .info select{
  outline: none;
  border: none;
  background: inherit;
  height: 45px;
}

.info .intercoms{
  display: inline-block;
  background: #F1F2F6;
}
.info .pin{
  font-size: 1rem;
  padding: 5px 5px 0 10px;
}
.info .from-to{
  font-size: 1rem;
  padding: 5px 7px 0 5px;
  color: #686868;
}
.info .select{
  width: 256px;
}
.info select{
  width: 60%;
}

/* cargo details styling--------- */
.details{
  display: flex;
  justify-content: space-between;
}
.details .dimension{
  position: relative;
  display: inline-block;
  background-color: #F1F2F6;
  padding: 12px 2px;
  color: #AEB1B6;
}
.details input[type=radio]:checked + .dimension-details{
  background-color: #FCFFFF;
  color: #4B6FB9;
}
.details .dimension-details{
  padding: 10px;
}

.details .details-right-div{
  display: flex;
}
.details .details-right-div p{
  margin: 10px 0 0 7px ;
}
.details .details-left-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}
.details .fieldset-div{
  display: flex;
  column-gap: 20px;
}
.details fieldset{
  width: 140px;
}
.details .fieldset-div legend{
  margin: 0 0 0 10px;
}
.details .fieldset-div .volume-weight{
  padding: 0 10px;
  color: #838488;
}
.details .fieldset-div input{
  padding: 0 0 0 10px;
  width: 78px;
}

/* additional details styling ------ */
.additional{
  display: flex;
  justify-content: space-between;
}

.additional .additional-radio-div{
  margin: 0 0 30px 0;
  display: flex;
}
.additional .additional-radio-div div{
  margin: 8px 0 0 20px ;
}
.additional .additional-radio-div p{
  font-size: 0.9rem;
  margin-top: 5px;
  color: #A8A9AD;
}
.additional .additional-radio-div h5{
  font-size: 1rem;
}

/*switch styling ------*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 22px;
  margin: 10px 0 0 0;
}

/* The slider */
.slide {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slide:before {
  border-radius: 50%;
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slide {
  background-color: #09469F;
}

input:focus + .slide {
  box-shadow: 0 0 1px #09469F;
}

input:checked + .slide:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}






/* tablet optimization------ */

@media screen and (max-width: 850px){
  .form{
    width: 80%;
  }
  .form .back-btn{
    left: -50px;
  }

  /* haeder styling----------- */

  header input[type='text'] {
    width: 88%;
  }
  header .btn{
    padding: 5px 10px;
  }
  
  /* service section styling-------- */

  .service-container-div{
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .services .service-selection{
    margin: 0 0 15px 0;
  }

  /* info section styling ------ */
  .info .info-first-roll, .info .info-second-roll{
    flex-wrap:wrap ;
    margin: 0;
  }
  .info .info-selection{
    margin: 15px 0;
  }  
  .info .destination {
    width: 100%;
    margin: 0 0 15px 0;
  }
  .info .destination input{
    width: 80%;
  }
  .info .intercoms{
    margin: 0 0 15px 0;
    width: 100%;
  }
  .info select{
    width: 80%;
  }

  /* cargo details styling--------- */
  .details{
    flex-direction: column;
    row-gap: 20px;
  }

  .details .details-right-div p{
    margin: 10px 0 0 7px ;
  }
  .details .details-left-div{
    row-gap: 20px;
  }
  
  /* additional details styling ------ */
  .additional{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }  
}




/* mobile optimization ------ */

@media screen and (max-width: 600px){
  .form{
    width: 90%;
  }
  .form .back-btn{
    display: none;
  }

  /* haeder styling----------- */
  header h1{
    width: 130px;
  }
  header input[type='text'] {
    width: 88%;
  }
  header .header-btn{
    display: none;
  }
  /* service section styling-------- */

  .service-container-div{
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .services .service-selection{
    margin: 0 0 15px 0;
  }
  .services .service-selection{
    width: 45%;
  }
  /* info section styling ------ */
  
  
  .info .destination input{
    width: 70%;
  }
  .info select{
    width: 70%;
  }
  
  /* cargo details styling--------- */
  .details .fieldset-div input{
    width: 70px;
  }
  .details .details-right-div p{
    font-size: 0.9rem;
    width: 250px;
  }
  .details .add-switch{
    /* width: 50px; */
  }
  /* additional details styling ------ */
  .additional .additional-radio-div p{
    font-size: 0.7rem;
    /* overflow-wrap: break-word; */
  }
  .additional .additional-radio-div h5{
    font-size: 0.8rem;
  }
  .additional .additional-radio-div div{
    width: 250px;
  }
}
@media screen and (max-width: 420px){
  /* service section styling-------- */
  .services .service-selection{
    width: -webkit-fill-available;
    width: 100%;
  }
  /* info section styling ------ */
  .info .destination input{
    width: fit-content;
  }

  /* cargo details styling--------- */

  .details .details-right-div p{
    /* font-size: 0.8rem; */
    /* width: 100px; */
    column-gap: 10px;
  }
  .details .fieldset-div input{
    width: 50px;
  }
  /* additional details styling ------ */
  .additional .additional-radio-div p{
    font-size: 0.5rem;

  }
  .additional .additional-radio-div h5{
    font-size: 0.8rem;
  }
}