*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
  font-size: 18px;
  background-color: #F1F2F6;
}
.form{
  width: 80%;
  margin: 10px auto;
}
.form .intro{
  font-size: 1.1rem;
  margin-bottom: 5px;
}
.form .instruction{
  font-size: 0.6rem;
}
/* haeder styling----------- */
header {
  width: 100%;
  background-color: #0746a7;
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
}
header p{
  color: #D1E7FF;
  font-size: 1.4rem;
  width: 200px;
}
header p span{
  font-size: 0.8rem;
  text-transform: uppercase;
}
header .search-box {
  background-color: #396bb9;
  height: 20px;
  padding: 5px 12px;
}
.search {
  color: #d1e7ff;
}
header input[type='text'] {
  outline: none;
  background-color: inherit;
  border: none;
  width: 300px;
}
header input[type='text']::placeholder{
 color: #D1E7FF;
}
header .header-btn{
  display: flex;
  justify-content: flex-end;
  width: 400px;
}
header .btn{
  display: inline-block;
  padding: 5px 15px;
  border-radius: 3px;
}
header .btn:nth-child(1){
  background-color: inherit;
  color: #D1E7FF;
  border: 1px solid #D1E7FF;
  margin: 0 10px 0 0;
}
header .btn:nth-child(2){
  background-color: #5AC87F;
  color: #E9FFF6;
  border: 1px solid #5AC87F;
}

/* service section styling-------- */
.services, .info, .details{
  background-color: #ffffff;
  padding: 30px;
  margin-top: 15px;
}
.services h4{
  margin: 0 0 20px 0;
}
.services .service-selection{
  position: relative;
  display: inline-block;
  width: 180px;
  height: 60px;
  margin: 0 10px 0 0;
  border: 1px solid #D1E7FF;
  overflow: hidden;
}
.services input{
  opacity: 0;
  width: 0;
  height: 0;
}
.services .radio{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0 0 8px;
  color: #81868C;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.services .icon{
  display: inline-block;
  position: absolute;
  right: -12px;
  bottom: -4px;
  font-size: 2.3rem;
  color: #81868C;
}
.services input:checked + .radio  {
  background-color: #0746A7;
  color: #FCFFFF;
}

.services input:focus + .radio {
  box-shadow: 0 0 1px #0746A7;
  color: #FCFFFF;
}
.services input:checked + .icon {
  color: #FCFFFF;
}
/* info section styling ------ */
.info .info-first-roll, .info .info-second-roll{
  display: flex;
  justify-content: space-between;
  margin: 10px 0 20px 0;
}
.info-icon{
  color: #A4A4A4;
}
.info .info-radio-div{
  position: relative;
  display: inline-block;
  /* width: 60px; */
  /* height: 34px; */
  background-color: #F1F2F6;
  padding: 12px 2px;
}
.info .info-selection:nth-child(1){
  border-right: 1px solid #F1F2F6;
}
.info .info-selection{
  padding: 10px;
  background-color: #FCFFFF;
}
.info input[type = radio] {
  opacity: 0;
  width: 0;
  height: 0;
}
.info .destination{
  display: inline-block;
  background: #F1F2F6;
  width: 40%;
}
.info .destination input{
  outline: none;
  border: none;
  background: inherit;
  height: 45px;
  width: 80%;
}
.info .info-second-roll input, .info select{
  outline: none;
  border: none;
  background: inherit;
  height: 45px;
  width: 50%;
}
.info .intercoms{
  display: inline-block;
  background: #F1F2F6;
  width: 30%;
}

/* details section------ */
.details{
  display: flex;
  justify-content: space-between;
}
/*switch styling ------*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 10px 0 0 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slide {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slide:before {
  border-radius: 50%;
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slide {
  background-color: #2196f3;
}

input:focus + .slide {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slide:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
